@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Cinzel", serif;
    --black: rgb(18, 18, 18);
    --aqua: rgb(51, 187, 187);
    --red: rgb(187, 10, 10);
    --green: rgb(19, 214, 104);
    --white: rgb(242, 242, 242);
    --gray: rgb(105, 105, 105);
}

main, footer {
    display: block;
    margin: 0;
}

.main-container {
    background-color: var(--black);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    display: flex;
    flex-direction: column;
}

a {
    background-color: transparent;
    color: var(--red);
    padding: 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 8px;
    height: 12rem;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--red);
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: lighter;
}
a:hover {
    background-color: var(--gray);
    color: var(--red);
}


#dayModeButton, #resetButton {
    background-color: transparent;
    border: 2px solid var(--red);
    color: var(--red);
    padding: 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 8px;
    height: 12em;
    font-size: 1.5rem;
    font-weight: lighter;
    transition-duration: 0.4s;
    margin-top: 1rem;
    cursor: pointer;
}
#dayModeButton:hover, #resetButton:hover {
    background-color: var(--gray);
    color: var(--red);
}

.hidden {
    display: none;
}

.tre-container, .telia-container, .tele2-container, .telenor-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    width: 300px;
    height: 80vh;
    border: 2px solid var(--red);
    color: var(--aqua);
    font-size: 2rem;
}
.tre-container {
    border: 2px solid var(--green);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.form-container select, input {
    width: 20rem;
}

h2 {
    margin: 1rem 0 3rem 0;
}

/*DAY MODE*/
body.day-mode {
    background-color: var(--white);
    color: var(--black);
}

body.day-mode .main-container {
    background-color: var(--white);
}

body.day-mode .tre-container {
    border-color: var(--green);
    color: var(--black);
} 
body.day-mode .telia-container, 
body.day-mode .tele2-container, 
body.day-mode .telenor-container {
    border-color: var(--red);
    color: var(--black);
}

body.day-mode .total-box,
body.day-mode .difference-box {
    background-color: var(--white);
    color: var(--black);
}

/* Specific styles for the tre-container's total and difference boxes */
body.day-mode .tre-container .total-box {
    background-color: var(--white);
    color: var(--black);
}

body.day-mode .tre-container .difference-box {
    background-color: var(--white);
    color: var(--black);
}

@media (max-width: 1000px) {
    .main-container {
        display: none;
    }

    .hidden {
        display: block;
        text-align: center;
        color: var(--red); /* Optional styling for the message */
        font-size: 2rem; /* Adjust font size as needed */
        margin-top: 2rem; /* Optional margin for positioning */
    }
}
